<!DOCTYPE html>
<html lang="en">
<%- include ./partials/header %>
<body>
  <%- include ./partials/navbar %>
  <div class="container">
    <h1 class="h1 text-center">Welcome to your Dashboard</h1>

    <% for (let i=0; i<userData.length; i++) { %>
      <div class="container border">
        <p>Posted by User <%= userData[i].userId %></p>
        <p><%= userData[i].title %></p>
        <p><%= userData[i].body %></p>
      </div>
    <% } %>
  </div>
    <%- include ./partials/scripts %>
</body>
</html>