<!DOCTYPE html>
<html lang="en">
  <%- include ./partials/header %>
  <body>
    <%- include ./partials/navbar %>
    <div class="container">
      <h1 class="h1 text-center">Profile Page</h1>
    </div>
    <div class="container text-center">
      <img src="https://img.bricklink.com/ItemImage/MN/0/edu008.png"/>
    </div>
      <div class="container">
        <% for (let i=0; i<profileData.length; i++) { %>
        <p>Full Name: <%= profileData[i].name %></p>
        <p>Username: @<%= profileData[i].username %></p>
        <p>Email: <%= profileData[i].email %></p>
        <p>Phone Number: <%= profileData[i].phone %></p>
          <p class="font-weight-bold">Address</p>
          <div class="container">
            <p><%= profileData[i].address.street %>, <%= profileData[i].address.suite %></p>
            <p><%= profileData[i].address.city %> <%= profileData[i].address.zipcode %></p>
          </div>
        <% } %>
      </div>
      <%- include ./partials/scripts %>
  </body>
  </html>